<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Scraper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- templates/index.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v={{ config['VERSION'] }}">

</head>
<body>
    <div class="container">
        <h1>🕷️ Simple Web Scraper</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            <div class="alert {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endwith %}
        <form method="post">
    <input type="text" name="url" placeholder="Enter website URL" autocomplete="off" required>
    <button type="submit">Scrape</button>
</form>

        {% if filename %}
    <div class="result">
        ✅ <a href="{{ url_for('download_file', foldername=filename) }}">Download Output</a>
    </div>
{% endif %}
        
    </div>
    <div class="footer">
            <p>Made with ❤️ by <a href="https://github.com/ankulmaurya88/web-scraping-system">Ankul </a></p>
        </div>
</body>
</html>
